@font-face { 
    font-family: "HelveticaNeueLTProLt";
    src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype");
}
@font-face { 
    font-family: "HelveticaNeueLTProMd";
    src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype");
}
@font-face { 
    font-family: "HelveticaNeueLTProRoman";
    src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}
@font-face { 
    font-family: "Merriweather-LightItalic";
    src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
}
@font-face { 
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face { 
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face { 
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

/* 
font-family: "HelveticaNeueLTProLt", sans-serif;
font-family: "HelveticaNeueLTProMd", sans-serif;
font-family: "HelveticaNeueLTProRoman", sans-serif;
font-family: "Merriweather-LightItalic", sans-serif;
font-family: "Montserrat-Light", sans-serif;
font-family: "Montserrat-Regular", sans-serif;
font-family: "Roboto-Regular", sans-serif; 
*/
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__item a {
    font-family: "Roboto-Regular", sans-serif; 
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
}
.menu__item:last-child a {
    margin-right: 0;
}
.active a {
    color: #010101;
}
.logo {
    margin: 0 16px;
}
.header__content {
    text-align: center;
}
.header__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 4px;
}
.header__text {
    font-family: "Merriweather-LightItalic", serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
    margin: 0 auto 43px;
}
.header__button {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    width: 188px;
    height: 57px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 206px;
}


.about {
    height: 1129px;
    padding-top: 128px;
    padding-bottom: 271px;
    background: url(../img/buildings_white.png) center bottom repeat-x,
                url(../img/buildings_dark.png) center bottom repeat-x,
                #1d1d1d;
    /* background-size: contain, contain; */
}
.about__inner {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content max-content;
    grid-gap: 178px;
    place-content: center center;
}
.about__item {
    width: 417px;
    height: 276px;
    background-color: #181818;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__year {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
    margin-bottom: 27px;
}
.about__text {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 22px;
    color: #b7b7b7;
}
